.text-container{

    justify-content: center;
    align-items: center;
}

h1{
    color: #553E4E;
    font-size: larger;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imageCol{
    position: absolute;
    left: -35px;
    bottom: -10px;
}