

h1{
    font-size:larger;
    color: #0384ab;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.homelayout-col{
    flex-grow: 1;
    justify-content: flex-end;
}

.homelayout{
display: flex;
}

.homeMain{
    justify-content: end;
    align-items: center;
}

.imageCol{
    
}

.title{
    margin-left: 600px;
    margin-top: 300px;
}