body{
    background-color: #E0479E;

}
nav{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #E0479E;
}

ul{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.navbar{
    flex-grow: 1;
    text-align: center;
    list-style: none;
    color: #553E4E;
    font-size: larger;
}

.navOptions:hover{
color: #FFAFC5;
}

.navList:hover{
    color: #FFAFC5; 
}

li{
    color: #553E4E;
    font-size: larger;
}

li:hover{
    color: #FFAFC5; 
}

.link{
    text-align: center;
    text-decoration: none;
    color: #553E4E;
}

.link:hover{
    color: #FFAFC5; 
}