.profile-image{
    max-height: 600px;
    max-width: 450px;
}

.text-container{

    justify-content: center;
    align-items: center;
}

h1{
    font-size:larger;
    color: #0384ab;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Card{
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
