.profile-image{
    max-height: 600px;
    max-width: 450px;
    
}

.text-container{

    justify-content: center;
    align-items: center;
}

h1{
    font-size:larger;
    color: #553E4E;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.projectImages{
    width: 100%;
}

.projectsCard{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #FFAFC5;
    border: 2px solid #FF9F1C;
}

.projectsCol{
    	max-width: 33%;
        flex-grow: 3;

}