
.contactIcons{
    color: #553E4E;
    background-color: #E0479E;
}
.contactIcons:hover{
    color: #FFAFC5;
}

.formBox{
    background-color: #FFAFC5;
    opacity:0.6;
    color: #553E4E;
}

.contactContainer{
    align-items: center;
    align-content: center;
    margin-top: 150px;
}

.formText{
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn{
    background-color: #FF9F1C;
    width:100%;
    color: #553E4E;
}

.btn:hover{
    outline: #FF9F1C solid 2px;
    background-color: #E0479E;
    color: #FFAFC5;
}


textarea{
    background-color: #FFAFC5;
    opacity:0.6;
    color: #553E4E;
    opacity:0.6;
}

.socialIconRow{
    display: inline;
    position: absolute;
    bottom: 50px;
    right: -10px;
}